.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1001;
  width: 80px;
}

.sidebar-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover {
  background-color: lightgrey;
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 715px) {
  .sidebar-link {
    flex: 0;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .sidebar-link div {
    font-size: 8px;
    text-align: left;
  }
  .sidebar-link img {
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .sidebar {
    width: 200px;
  }
}
